// Definition of all fonts

// Imports
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

// Styles
body{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color:$black;
}

.jumbotron h1 {
    color: $pink;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 90px;
    margin-top: 170px;
    width: 100%;
}

.navbar-nav > li > a {
	color: $pink;
	font-size: 20px;
}

footer {
	color: $white;
}

p {
	font-size: 1.2em;
}

// Font-Awesome
.fa {
	color:$pink;
}

.fa:hover {
	color:$orange;
}