// Definition of all layout elements

.navbar {
	margin-bottom:0;
}

.navbar-fixed-top {
    min-height: 80px;
    
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

.jumbotron {
    min-height: 650px;
    border-bottom: 20px solid $pink;
    margin-bottom:0px;
}

footer {
	border-top: 20px solid $pink;
	min-height:100px;
	background-color:$black;
	padding-top: 20px;
}

#social_media, #footer_text {
	padding:20px 0;
	text-align: center;
}

.social_media_icon {
	padding: 10px;
	margin: 5px;
}

hr{
	border-top: 1px solid $pink;
}

.circle-pic {
	border-radius: 50%;
}

