// Definition of all layout elements

.navbar {
	margin-bottom:0;
}

.navbar-fixed-top {
    min-height: 80px; 
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

.navbar-default .navbar-toggle, .navbar-toggle {
    border-color: $white;
    background-color: $pink;
    margin-top: 15px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-toggle:hover, .navbar-toggle:focus {
    background-color: $black;
    color: $black;
}

.navbar-default .navbar-toggle .icon-bar,  .navbar-toggle .icon-bar{
  background-color: $black;
  color: $black;
}

.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar, .navbar-toggle:hover .icon-bar, .navbar-toggle:focus .icon-bar{
    background-color: $pink;
    color: $pink;
}



@media screen and (max-width: 767px){
	.navbar-default .navbar-collapse, .navbar-default .navbar-form, .navbar-collapse, .navbar-form{
    border-color: $white;
    background-color: $black;
	}

	.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu>li>a{
		color: $pink;
		background-color: $black;
	}

	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-nav .open .dropdown-menu>li>a:hover{
		color: $pink;
		background-color: $black;
	}

	.navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    }
}

.jumbotron {
    min-height: 650px;
    border-bottom: 20px solid $pink;
    margin-bottom:0px;
}

footer {
	border-top: 20px solid $pink;
	min-height:100px;
	background-color:$black;
	padding-top: 20px;
}

#social_media, #footer_text {
	padding:20px 0;
	text-align: center;
}

.social_media_icon {
	padding: 10px;
	margin: 5px;
}

hr{
	border-top: 1px solid $pink;
}

.circle-pic {
	border-radius: 50%;
}

