// Works page specific stuff

#works {
	background: url("../../img/works/post-its.jpg") center center;
	position: relative;
    padding-top:0px;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}

#works-container {
	margin: 90px 0;
}

#worksgrid {
	margin: 20px auto 40px;
}

.thumbnail {
	margin: 5px;
	border: 2px solid $gray;

	p {
		margin-top: 10px
	}
}

.tech {
	font-size: 0.9em;
	color: $white;
	background-color: $gray;
	border-radius: 3px;
	padding: 3px;
	margin: 0px 1px;
}

#grid[data-columns]::before {
	content: '3 .column.size-1of3';
}