// style.scss : Import scss partials and Define variables

// Variables *****************************************
$pink : #FF3366;
$orange : #FF6633;
$black : #000300;
$gray : #AFB0B1;
$white : #FFFFFF;

// Vendor Dependencies *****************************************
@import "bootstrap";
@import "font-awesome";

// Authored dependencies ****************************************
// @import "variables";
@import "fonts";
@import "layouts";

// Page specific elements ***************************************
@import "home";
@import "about";
@import "works";